<div class="container coasters-index">

    <div class="row justify-content-between">
        <h1 style="font-weight: 150">My shops</h1>
    </div>
    
    <hr>

    <ul class="list">
        {{#each ownerShops}}
        <div class="col-md-4 list2">
            <article class="list-group">
                <div>
                    <li>
                        <h2>{{name}}</h2>
                        <h5>Nationality: {{nationality}}</h5>

                        <div class="row" style="justify-content: evenly">

                            <a href="/shops/{{_id}}" class="btn-shopsbtn btn-sm btn-dark btn-costum">See Details</a>

                            <form action="/user-zone/edit-shop-owner?shop_id={{_id}}" method="POST">
                                <button type="submit" class="btn-shops btn btn-sm btn-dark mx-2 btn-costum">Edit</button>
                            </form>

                            <form action="/user-zone/del-shop-owner?shop_id={{_id}}" method="POST">
                                <button type="submit" class="btn-shops btn btn-sm  btn-dark btn-costum" style="background:#A59C94">Delete</button>
                            </form>

                        </div>

                    </li>
                </div>
            </article>
        </div>
        {{/each}}
    </ul>

    <hr>

</div>