<div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>LIST OF SHOPS</h1>
            </div>
        </div>

        <div>
            <div class="col-md-6 new-shop-btn">
                {{#if isAdminOwner}}
                <a href="#" class="btn btn-success btn-sm btn-costum new-shop">Filter</a>
                <a href="/shops/new" class="btn btn-success btn-sm btn-costum new-shop">Add new shop</a>
                {{/if}}
            </div>
        </div>


    <hr>

    <div class="row justify-content-around">
        {{#each allShops}}
        <div class=" shop-info col-sm-6 col-md-4 text-left">
            <div>
                <img src="{{shopImg}}" class="rounded mx-auto d-block" alt="{{name}} image">
            </div>

            
            <h1>{{name}}</h1>
            <hr>
            <h5>{{description}}</h5>
            <p>Nationality: {{nationality}}</p>
            
            <div>
                <a href="/shops/{{_id}}" class="btn btn-sm btn-dark btn-costum">See Details</a>
                <a href="/user-zone/favorites/{{_id}}" class="btn btn-sm btn-dark mx-2 btn-costum">Add to favorites</a>

                {{#if ../isAdmin}}
                <a href="/shops/delete?id={{_id}}" class="danger btn btn-sm btn-danger btn-costum ">Delete</a>
                {{/if}}

            </div>
        </div>
        {{/each}}
    </div>

    <hr>

    <div class="container marginB">
        <div class="row">
            <div class="col-md-12">
                <div id="shopsMap"></div>
            </div>
        </div>
    </div>

</div>



{{!-- Scripts estáticos --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/javascripts/styles.js"></script>
<script src="/javascripts/shops-map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{keymaps}}&callback=initApp"></script>